@use "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
	/**/
	body {
        background-size: 1440px;
        background-position: top center;
    }
    
}
@media only screen and (max-width : 1300px) {
	/**/
	.card {
		width: 24%;
		min-width: 24%;
	}
	.info-cards-row {
		gap: 3.5%
	}
	.info-card {
		margin-bottom: 3.5%;
	}
	
    
}

@media only screen and (max-width : 1200px) {
	/**/
	.card__content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-list {
		margin-left: 0;
	}
	
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/**/
	
	.hero-section__description {
		align-self: flex-start;
	}
	.hero-section {
		padding-top: 80px;
	}
	.hero-section__description {
		padding-top: 10px;
	}
	.hero-section__content {
		position: relative;
		padding-bottom: 65px;
	}
	.hero-section__content .buttons-wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		.button--secondary {
			display: none;
		}
	}
	.cards-row {
		overflow-x: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
	}
	.container--cards {
		width: 100%;
		max-width: 100%;
	}
	.cards-row {
		justify-content: flex-start;
		padding-left: 4.53vw;
		padding-right: 4.53vw;
	}
	.card {
		width: 280px;
		min-width: 280px;
	}
	.card__content {
		padding-left: 25px;
		padding-right: 25px;
	}
	.cards-section {
		padding-top: 72px;
	}
	.h2--s {
		margin-bottom: 16px;
	}
	//start text-image section font-style
	.text-image-section {
		text-align: center;
		.row {
			flex-direction: column-reverse;
		}
		.text-image__content {
			margin-left: auto;
			margin-right: auto;
			margin-top: 43px;
		}
		.illustration {
			max-width: 81%;
		}
		.text-image__content {
			width: 100%;
		}
	}
	
	///end text-image section font-style
	
	//start info cards
	.info-cards-row {
		flex-wrap: nowrap;
		overflow-x: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
		gap: 18px;
	}
	.info-card {
		margin-bottom: 0;
		width: 278px;
		min-width: 278px;
	}
	.info-cards-section {
		.container {
			width: 100%;
			max-width: 100%;
		}
	}
	.info-cards-row {
		padding-left: 4.53vw;
		padding-right: 4.53vw;
	}
	.info-cards-section {
		padding-top: 0;
	}
	//end info cards

	//start benefits style
	.benefits__list {
		.container {
			width: 100%;
			max-width: 100%;
		}
	}
	.benefits__row {
		padding-left: 4.53vw;
		padding-right: 4.53vw;
		gap: 18px;
		flex-wrap: nowrap;
		overflow-x: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.benefits__card{
		width: 300px;
		min-width: 278px;
	}
	
	//end benefits style
	
	.integrations__content {
		width: 100%;
		max-width: 100%;
		border: none;
		padding-top: 0;
	}
	.integrations {
		.container {
			width: 100%;
			max-width: 100%;
		}
		.section-header {
			max-width: 91.2vw;
			.h2 {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.integration__item {
		width: 30vw;
		min-width: 30vw;
		height: 20vw;
		border-radius: 1vw;
	}
	.integrations__list {
		gap: 1.5vw;
		width: 193vw;
		margin-left: -7vw;
	}
	.text-image-section {
		padding-top: 0;
	}
	.illustration {
		padding-bottom: 40px;
	}
	//start logo-animation
	.logo-animation {
		width: 350px;
		height: 350px;
		max-width: 100%;
	}
	.idt-icon {
		width: 70px;
		height: 70px;
	}
	.idt-icon--1 {
		animation: rotateCircle1Mobile 60s linear infinite;
	}
	.idt-icon--2 {
		animation: rotateCircle2Mobile 60s linear infinite;
	}
	.idt-icon--3 {
		animation: rotateCircle3Mobile 60s linear infinite;
	}
	.idt-icon--4 {
		animation: rotateCircle4Mobile 60s linear infinite;
	}
	.idt-icon--5 {
		animation: rotateCircle5Mobile 60s linear infinite;
	}
	.idt-icon--6 {
		animation: rotateCircle6Mobile 60s linear infinite;
	}
	@keyframes rotateCircle1Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(0deg) translateY(-148px) rotate(0deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(360deg) translateY(-148px) rotate(-360deg);
		}
	}
	@keyframes rotateCircle2Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(60deg) translateY(-148px) rotate(-60deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(420deg) translateY(-148px) rotate(-420deg);
		}
	}
	@keyframes rotateCircle3Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(120deg) translateY(-148px) rotate(-120deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(480deg) translateY(-148px) rotate(-480deg);
		}
	}
	@keyframes rotateCircle4Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(180deg) translateY(-148px) rotate(-180deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(540deg) translateY(-148px) rotate(-540deg);
		}
	}
	@keyframes rotateCircle5Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(240deg) translateY(-148px) rotate(-240deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(600deg) translateY(-148px) rotate(-600deg);
		}
	}
	@keyframes rotateCircle6Mobile {
		0% {
			transform: translate(-50%, -50%) rotate(300deg) translateY(-148px) rotate(-300deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(660deg) translateY(-148px) rotate(-660deg);
		}
	}
	//end logo-animation
	.benefits {
		background-size: 1200px;
	}
	.hero-section--2 {
		.buttons-wrapper {
			position: static;
		}
		.hero-section__content {
			padding-bottom: 30px;
		}
	}
	.hero-image {
		margin-top: 60px;
		max-width: 90%;
	}
	.info-cards-section .h2 {
		margin-left: auto;
		margin-right: auto;
	}
	.info-cards-section--2 .h2 {
		margin-bottom: 30px;
	}
	.text-section {
		padding-top: 20px;
	}
	.text-image-section .illustration {
		padding-bottom: 20px;
	}
	.text-info-section {
		padding-top: 20px;
	}
	.cta-card {
		margin-top: 60px;
	}
	.faq {
		padding-top: 20px;
	}
	.plans__list {
		flex-direction: column;
	}
	.plans__item {
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.plans__item-row {
		text-align: left;
	}
	.plans {
		padding-top: 20px;
		padding-bottom: 20px;
		.h2 {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/**/
	body {
		background-size: 1027px;
		background-position: top right -200px;
		font-size: 16px;
	}
	.h1 {
		font-size: 40px;
		width: 300px;
		max-width: 100%;
		line-height: 1.2;
	}
	.h2--s {
		font-size: 26px;
	}
	.h2 {
		font-size: 26px;
		width: 90%;
	}
	.hero-section__description {
		font-size: 18px;
		padding-bottom: 12px;
	}
	.hero-section .h1 {
		width: 300px;
		max-width: 100%;
		
	}
	.hero-section__description {
		width: 96%;
	}
	.footer__menu {

		.col-md-3 {
			margin-bottom: 50px;
		}
		div {
			margin-bottom: 10px;
		}
	}
	.footer {
		padding-top: 30px;
		
	}
	.footer__menu {
		text-align: center;
		padding-bottom: 0px;
		a {
			display: block;
			padding: 5px 0;
		}
	}
	.cta {
		padding-bottom: 60px;
	}
	.social-item {
		justify-content: center;
	}
	.footer__bottom {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
		a {
			margin-bottom: 20px;
		}
	}
	.text-image-section .h2 {
		margin-left: auto;
		margin-right: auto;
	}
	//start benefits style 
	.benefits {
		margin-top: 20px;
		padding-top: 60px;
	}
	.benefits__list {
		margin-top: 40px;
	}

	//end benefits style

	.integrations {
		padding-top: 20px;
	}
	.integrations__content {
		padding-bottom: 0;
	}

	.faq__item.active .faq__item-text {
		max-width: 100%;
	}
	.form-row {
		flex-direction: column;
		.input-wrapper {
			width: 100%;
		}
	}
	.form-wrapper {
		padding-left: 20px;
		padding-right: 20px;
		.h2 {
			width: 100%;
			br {
				display: none;
			}
		}
	}
	.form-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.statistic .statistic-item {
		width: 100%;
	}
	.statistic .col-md-4 {
		margin-bottom: 20px;
	}
	.hero-knowledge .h1 {
		width: 100%;
		max-width: 100%;
	}
	.statistic {
		padding-top: 0;
	}
	.testimonials__content-wrapper {
		padding: 30px 15px;
		align-items: flex-start;
	}
	.testimonials__photo {
		width: 60px;
		min-width: 60px;
		height: 60px;
		margin-right: 15px;
	}
	.testimonials {
		padding-top: 0;
	}
	.contact {
		padding-top: 0;
	}
	.hero-section .h1 {
		width: 100%;
	}
	.contact-list {
		margin-top: 100px;
	}
	//start logo-animation mobile
	.logo-animation {
		width: 280px;
		height: 280px;
		max-width: 90vw;
	}
	.idt-icon {
		width: 56px;
		height: 56px;
	}
	.idt-icon--1 {
		animation: rotateCircle1MobileSmall 60s linear infinite;
	}
	.idt-icon--2 {
		animation: rotateCircle2MobileSmall 60s linear infinite;
	}
	.idt-icon--3 {
		animation: rotateCircle3MobileSmall 60s linear infinite;
	}
	.idt-icon--4 {
		animation: rotateCircle4MobileSmall 60s linear infinite;
	}
	.idt-icon--5 {
		animation: rotateCircle5MobileSmall 60s linear infinite;
	}
	.idt-icon--6 {
		animation: rotateCircle6MobileSmall 60s linear infinite;
	}
	@keyframes rotateCircle1MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(0deg) translateY(-120px) rotate(0deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(360deg) translateY(-120px) rotate(-360deg);
		}
	}
	@keyframes rotateCircle2MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(60deg) translateY(-120px) rotate(-60deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(420deg) translateY(-120px) rotate(-420deg);
		}
	}
	@keyframes rotateCircle3MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(120deg) translateY(-120px) rotate(-120deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(480deg) translateY(-120px) rotate(-480deg);
		}
	}
	@keyframes rotateCircle4MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(180deg) translateY(-120px) rotate(-180deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(540deg) translateY(-120px) rotate(-540deg);
		}
	}
	@keyframes rotateCircle5MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(240deg) translateY(-120px) rotate(-240deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(600deg) translateY(-120px) rotate(-600deg);
		}
	}
	@keyframes rotateCircle6MobileSmall {
		0% {
			transform: translate(-50%, -50%) rotate(300deg) translateY(-120px) rotate(-300deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(660deg) translateY(-120px) rotate(-660deg);
		}
	}
	.nubos-logo {
		width: 56px;
	}
	//end logo-animation mobile
	

	


	
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
	.footer {
		.buttons-wrapper {
			flex-direction: column;
			gap: 0;
			.button {
				width: 80%;
			}
		}
	}
	//start logo-animation extra small
	.logo-animation {
		width: 240px;
		height: 240px;
		max-width: 85vw;
	}
	.idt-icon {
		width: 48px;
		height: 48px;
	}
	.nubos-logo {
		width: 48px;
	}
	.idt-icon--1 {
		animation: rotateCircle1MobileXS 60s linear infinite;
	}
	.idt-icon--2 {
		animation: rotateCircle2MobileXS 60s linear infinite;
	}
	.idt-icon--3 {
		animation: rotateCircle3MobileXS 60s linear infinite;
	}
	.idt-icon--4 {
		animation: rotateCircle4MobileXS 60s linear infinite;
	}
	.idt-icon--5 {
		animation: rotateCircle5MobileXS 60s linear infinite;
	}
	.idt-icon--6 {
		animation: rotateCircle6MobileXS 60s linear infinite;
	}
	@keyframes rotateCircle1MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(0deg) translateY(-105px) rotate(0deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(360deg) translateY(-105px) rotate(-360deg);
		}
	}
	@keyframes rotateCircle2MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(60deg) translateY(-105px) rotate(-60deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(420deg) translateY(-105px) rotate(-420deg);
		}
	}
	@keyframes rotateCircle3MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(120deg) translateY(-105px) rotate(-120deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(480deg) translateY(-105px) rotate(-480deg);
		}
	}
	@keyframes rotateCircle4MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(180deg) translateY(-105px) rotate(-180deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(540deg) translateY(-105px) rotate(-540deg);
		}
	}
	@keyframes rotateCircle5MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(240deg) translateY(-105px) rotate(-240deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(600deg) translateY(-105px) rotate(-600deg);
		}
	}
	@keyframes rotateCircle6MobileXS {
		0% {
			transform: translate(-50%, -50%) rotate(300deg) translateY(-105px) rotate(-300deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(660deg) translateY(-105px) rotate(-660deg);
		}
	}
	//end logo-animation extra small
	.integrations__list-wrapper {
		padding-top: 10vw;
		padding-bottom: 10vw;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}
