// Variables

//color
$blue: rgba(9, 26, 46, 1);
$white: #fff;
$aqua: #3FF1B2;
$aqua-hover: rgba(119, 255, 207, 1);
$yellow: rgba(255, 226, 67, 1);
$blue-light: rgba(27, 51, 79, 1);
$violet: rgba(128, 184, 255, 1);
$orange: rgba(255, 161, 119, 1);
$orange-hover: rgba(255, 208, 196, 1);



//font
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Helvetica Neue', sans-serif;

//font size
$font-size-main: 18px;